{% extends 'base_layout.html' %}
{% block title %}Sobre Mi{% endblock title %}
{% block HerenciaDeContenido %}

<div class="card text-center">
    <div class="card-header">
      Sobre mi
    </div>
    <div class="card-body">
      <h5 class="card-title">Esteban Carrizo</h5>
      <p>Soy un estudiante universitario de Licenciatura en Sistemas en la Universidad de Luján.</p>

      <p>Tengo 3 años de experiencia creando contenido en internet, especialmente en la plataforma de Twitch.</p>
      
      <p>Mi enfoque principal es la comunidad de League of Legends. Soy un caster profesional en la liga latinoamericana y he tenido la oportunidad de participar en el Mundial del LOL.</p>
      
      <p>También dirijo un negocio en el rubro comercial, un Grow Shop al que le he dado el nombre de mi mascota, Annie, en su honor.</p>      
      <div class="col-lg-6 h-100 d-flex justify-content-center mx-auto">
        <ul class="list-inline mb-0">
            <li class="list-inline-item me-4">
                <a href="https://www.twitch.tv/frostytwice"><i class="bi-twitch fs-3"></i></a>
            </li>
            <li class="list-inline-item me-4">
                <a href="https://twitter.com/FrostyTwice"><i class="bi-twitter fs-3"></i></a>
            </li>
            <li class="list-inline-item">
                <a href="https://www.instagram.com/frostytwice/"><i class="bi-instagram fs-3"></i></a>
            </li>
        </ul>
    </div>
    
    </div>


{% endblock HerenciaDeContenido %}