{% extends 'inicio.html' %}


{% block HerenciaDeContenido %}

<ul>
    
    {% for cliente in clientes %}
        <li>
            <a href="{% url 'DetalleClientes' cliente.id %}">{{cliente}}</a>
        </li>
        <div>
            <button>
                <a href="{% url 'EliminaCliente' cliente.id %}">Eliminar</a>
            </button>
            <button>
                <a href="{% url 'ActualizaCliente' cliente.id %}">Editar Cliente</a>
            </button>
        </div>
    {% endfor %}
        
</ul>
        
{% endblock HerenciaDeContenido %}