{% extends 'base_layout.html' %}
{% block title %}Clientes{% endblock title %}
{% block HerenciaDeContenido %}
<ul>
    
    {% for cliente in clientes %}
        <li>
            {{cliente}}
        </li>
        <div>
            <form action="{% url 'EliminarCliente' cliente.id %}" method="post">{% csrf_token %}
                <button type="submit">Eliminar</button>
            </form>
            <button>
                <a href="{% url 'EditarCliente' cliente.id %}">Editar Cliente</a>
            </button>
        </div>
    {% endfor %}
        
</ul>
        
{% endblock HerenciaDeContenido %}