{% extends 'inicio.html' %}


{% block HerenciaDeContenido %}

 <h1>Lista de clientes</h1>
<ul>

    {% for cliente in clientes %}
        <li>
            {{cliente}}
        </li>
        <div>
            <button>
                <a href="{% url 'EliminaCliente' cliente.id %}">Eliminar Cliente</a>
            </button>
            <button>
                <a href="{% url 'EditarCliente' cliente.id %}">Editar Cliente</a>
            </button>
        </div>
    {% endfor %}
        
</ul>
        
{% endblock HerenciaDeContenido %}