{% extends 'base_layout.html' %}
{% block title %}Resultado busqueda cliente{% endblock title %}
{% block HerenciaDeContenido %}

<h1>Resultado de búsqueda del cliente</h1>
<!-- Si el producto es encontrado
    devuelve el nombre y el stock,
    de lo contrario el mensaje del contexto -->
    {% if clientes %}
    
    <h2>Clientes encontrados:</h2>
    <ul>
        {% for cliente in clientes %}
        
            <li>
                <p>Nombre: {{cliente.nombre}}</p>
                <p>Apellido: {{cliente.apellido}}</p>
                <p>Email: {{cliente.email}}</p>
            </li>
            
        {% endfor %}
    </ul>
    <button><a href="{% url 'ClienteBusqueda' %}">Volver a la búsqueda</a></button>

{% else %}
    <p>{{ mensaje }}</p>
    <button><a href="{% url 'ClienteBusqueda' %}">Volver a la búsqueda</a></button>
{% endif %}

{% endblock HerenciaDeContenido %}
